<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JMS-YouTube-ProxyTV!</title>
    <link href="/assert/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link href="/assert/css/index.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <h1>JMS-YouTube-ProxyTV! <small>将YouTube直播源代理成M3U8格式IPTV源</small></h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            频道管理
          </h3>
        </div>
        <div class="panel-body">
          <form role="form" action="/api/newchannel" method="POST">
            <div class="form-group">
              <label for="inputChannelName">频道名称</label>
              <input type="text" class="form-control" id="inputChannelName" name="name">
            </div>
            <div class="form-group">
              <label for="inputChannelLiveURL">YouTube直播URL</label>
              <input type="text" class="form-control" id="inputChannelLiveURL" name="url">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="proxy">代理直播数据流
              </label>
            </div>
            <button type="submit" class="btn btn-default">添加频道</button>
          </form>
        </div>
        <div class="gray-line">&nbsp;</div>

        <div class="panel-body">
          <form role="form" action="/api/newchannelText" method="POST">
            <div class="form-group">
              <label for="inputChannelName">批量添加(name,y2burl 换行)</label>
              <textarea rows="10" type="text" class="form-control" id="inputChannelText" name="inputChannelText" placeholder="名字,链接&#10;名字,链接"></textarea>
            </div>

            <button type="submit" class="btn btn-default">添加</button>
          </form>
        </div>
        <div id="copyArea"></div>

        <table class="table table-striped table-condensed">
          <tr>
              <th>#</th>
              <th>频道名称</th>
              <th>YouTube直播URL</th>
              <th>M3U8播放URL</th>
              <th>代理直播数据流</th>
              <th>
                <a id="copyAll"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></a>
              </th>
          </tr>
          {{range .Channels}}
          <tr>
              <td>{{.ID}}</td>
              <td>{{.Name}}</td>
              <td>{{.URL}}</td>
              <td>
                {{ if ne .ID  0 }} {{.M3U8}}  {{ end }}
                {{ if eq .ID  0 }}  <a target="_blank" href="{{.M3U8}}">{{.M3U8}}</a> {{ end }}
              </td>
              <td>{{ if .Proxy }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{ end }}</td>
              <td>
                {{ if ne .ID  0 }}
                <a href="/api/delchannel?id={{.ID}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                {{ end }}
              </td>
            {{ if ne .ID  0 }}
            <span class="copyData hidden">{{.Name}},{{.M3U8}}</span>
            {{ end }}

          </tr>
          {{end}}
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            主要配置
          </h3>
        </div>
          <div class="panel-body">
            <form role="form" action="/api/updconfig" method="POST">
              <div class="form-group">
                <label for="inputCommand">Youtube-dl 命令</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputCommand" name="cmd" value="{{.Configs.Cmd}}" disabled>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="allow-edit-button-cmd">编辑</button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="inputArgs">Youtube-dl 参数</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputArgs" name="args" value="{{.Configs.Args}}" disabled>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="allow-edit-button-args">编辑</button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="inputBaseURL">访问地址</label>
                <div class="input-group">
                  <input type="url" class="form-control" id="inputBaseURL" name="baseurl" value="{{.Configs.BaseURL}}">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="auto-fill-button">识别</button>
                  </span>
                </div>
              </div>
              <button type="submit" class="btn btn-default">保存</button>
            </form>
          </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            修改密码
          </h3>
        </div>
          <div class="panel-body">
            <form role="form" action="/api/changepwd" method="POST">
              <div class="form-group">
                <label for="inputPassword">新密码</label>
                <input type="password" class="form-control" id="inputPassword" name="password">
              </div>
              <div class="form-group">
                <label for="inputPassword2">确认密码</label>
                <input type="password" class="form-control" id="inputPassword2" name="password2">
              </div>
              <button type="submit" class="btn btn-default">保存</button>
            </form>
          </div>
      </div>
      <footer class="text-center">
        卷毛鼠公益IPTV交流群<a href="https://t.me/Curly_MouseIPTV">卷毛鼠公益IPTV</a>.
        <a href="/log">查看日志.</a>
        <a href="/api/logout">退出.</a>
      </footer>
    </div>

    <script src="/assert/js/jquery.min.js"></script>
    <script src="/assert/js/bootstrap.min.js"></script>
    <script src="/assert/js/bootbox.all.min.js"></script>
    <script>
      $("#auto-fill-button").click(function(){
          $("#inputBaseURL").val(window.location.protocol + "//" + window.location.host)
      });
      $("#copyAll").click(function () {
        var value = "";
        $(".copyData").each(function () {
            value = value + $(this).text() +"\r\n";
        });
        console.log(value);
        $("#inputChannelText").val(value);
        $("#inputChannelText").select();
        document.execCommand('Copy', false, null);
        $("#inputChannelText").val("");
      });
      $("#allow-edit-button-cmd,#allow-edit-button-args").click(function(){
        bootbox.confirm({
          message: "警告:如果不明白请保持默认，不要修改.",
          buttons: {
              confirm: {
                  label: '确认修改',
                  className: 'btn-danger'
              },
              cancel: {
                  label: '放弃修改',
                  className: 'btn-secondary'
              }
          },
          callback: function (result) {
              if(result){
                $('#inputCommand,#inputArgs').prop('disabled', false);
              }
          }
        });
      });
    </script>
  </body>
</html>